* {
    margin: 0;
    padding: 0;
    inherits: none;
    font-family: epilogue;
}

body {
    background-color:  hsl(0, 0%, 98%);
}

header {
    display:flex;
    justify-content: space-between;
    gap: 2.5rem;
    margin-left: 25px;
    margin-top: 10px;
    align-items: center;
    max-width:1119px;
    min-width: 600px;
    width: 100%;
    position: relative;
}

header .nav1,.nav2 {
    padding: 0;
}

.logo {
    font-weight: 500;
    font-size: 25px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
}

header a:hover {
    color: hsl(0, 0%, 41%);
}

header ul {
    list-style-type: none;
}

.nav1 {
    display: flex;
    gap: 4rem;
    position: relative;
    align-items: center;
}

.nav1-remain .four-nav {
    display: flex;
    gap: 30px;
}

.together {
    display: flex;
    gap: 10px;

}



.nav2 {
    display: flex;
    gap: 15px;
    align-items: center;

}

.nav2 h1 {
    font-size: 14px;
}

button {
    display: flex;
    align-items: center;
}



.drop-down {
    background-color: #ffffff;
    padding: 15px;
    border-radius:10px;
    border: 1px solid white;
    box-shadow:2px 3px 3px 5px rgb(0, 0, 0,0.1) ;
    line-height: 1.8rem;
    margin-top: 15px;
    z-index: 99;
    display:none;
    position: absolute;
    
}


.drop-down ul li:hover {
    width: 100%;
}

.nav1  .four-nav >li:hover .drop-down{
    display: block;

}

button {
    padding: 10px;
    border-radius: 15px;
}

.arrow-up {
    display: none;
}

.nav1 .four-nav >li:hover .arrow-up {
    display: inline;
}

.nav1 .four-nav >li:hover .arrow-down {
    display: none;
}

main {
    display: flex;
    gap: 15px;
    margin-top: 7%;
    margin-right: 7%;
    margin-left: 10%;
    margin-bottom: 15%;
    max-width: 1300px;
    min-height: 648px;
    width: 100%;
    flex-wrap: wrap-reverse;
}

main .hero-sec-word {
    margin-top:5%;
    

}

main .hero-sec-word h1 {
    font-size: 4rem;
    width: 100%;
    max-width: 70%;
    
}

img{
    width: 500px;
    height: 500px;
    margin-bottom: 20%;

}

main .hero-paragraph {
    margin-top: 30px;
    font-size: 18px;
    max-width:491px;
    line-height: 1.5rem;
    color: hsl(0, 0%, 41%);
}

main button {
    background-color: #000000;
    padding:12px 27px;
    color: white;
    border: 1px solid black;
    margin-top: 25px;
    font-size: 12px;
}

.bottom-icon {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10%;
}

header .icon-menu {
    display: none;
    width: 20px;
    height: 20px;
    
    
}

header .icon-close {
    width: 20px;
    height: 20px;
    display: none;
}

 header .two-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
 }

@media (max-width:675px) {
    header .icon-menu {
        display: block;
    }

.nav1-remain .four-nav {
    display: flex;
    gap: 30px;
    flex-direction: column;
}
    

header .two-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    align-items: flex-end;
    height: 100vh;
    min-width: 612px;
    min-height: 1200px;
    margin-top: 3rem;
}

header .two-nav.active {
    display: flex;
  }

  main .hero-sec-word {
    width: 100%;
  }

  main .hero-sec-word h1 {
    min-width: 680px;
  }

  main .hero-sec-word button {
    margin:auto;
    margin-top: 20px;
    padding: 30px;
    
  }

  main .hero-sec-word .hero-paragraph {
    max-width: 480px;
    font-size: 1.5rem;
    min-width: 538px;
    line-height: 2.5rem;
  }

   main .hero-sec-word .bottom-icon {
    
   }
   
}








